<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore	class="fr.francetelecom.coclico.core.RepositoryConnector"
      					name="Coclico Connector">
      </connectorCore>
      <connectorUi	class="fr.francetelecom.coclico.ui.ConnectorUi"
            		name="Coclico Connector UI"
            		brandingIcon="icons/trac-icon.gif"
            		overlayIcon="icons/overlay-trac.gif">
      </connectorUi>
   </extension>
   <extension point="org.eclipse.mylyn.tasks.core.templates">
      <repository	label="Coclico"
      				repositoryKind="fr.francetelecom.coclico"
      				urlRepository="http://fgdebtrk2.rd.francetelecom.fr/plugins/oslc/cm/oslc-services/">
      </repository>
   </extension>
   <extension point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory	class="fr.francetelecom.coclico.ui.TaskEditorPageFactory"
      				id="fr.francetelecom.coclico.ui.pageFactory">
      </pageFactory>
   </extension>

</plugin>
